.footer {
  padding: 0;
  margin: 0;
  background-color: #0a2850;
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
}

.footer__content {
  padding: 60px 80px 108px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.footer__logo {
  margin: 0;
  padding: 0;
  width: 105px;
  height: 39px;
}

.social-media {
  display: flex;
  flex-direction: column;
}

.footer__social-heading {
  margin-bottom: 20px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.footer__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer__list-item {
  margin: 0 0 16px;
}

.footer__list-item:last-child {
  margin-bottom: 0;
}

.footer__social-link {
  display: flex;
  align-items: center;
  column-gap: 10px;
  color: white;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__copyright {
  color: white;
  padding: 0;
  margin-bottom: 60px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}
